{% load static %}
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>TotalPhraseBook</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body onload="init();">

	<div id="header">
		<div id="header-inner">
			<a href="./" title="TotalPhraseBook">
				<h1 id="logo">TotalPhraseBook</h1>
			</a>
			<form id="search" onsubmit="return queryPhrase();">
				<div>
					<input id="q" type="text" value="打擊" />
					<input id="go" type="image" alt="Go" src="{% static 'img/go.png' %}" />
				</div>
			</form>			
		</div>
	</div>
	
	<div id="nav">
		<div id="itm-phrase" class="item">
			Phrase
		</div>
		<div id="itm-sentence" class="item">
			Sentence
		</div>
	</div>

	<div id="panel-phrase">
		<div id="panel-phrase-no-result">
			<img src="{% static 'img/oops.png' %}" width="150px" /><br>
			Oops!<br>
			We can't find any result to your query.
		</div>
		<ul id="ul-phrase">
		</ul>
	</div>
	<div id="panel-info"></div>
	<div id="panel-tip">
		<img id="img-tip" src="{% static 'img/arrow-up.png' %}" />
		To start, type in an English or Chinese phrase and check out the translations and example sentences.
	</div>
	
	<div id="panel-sentence">
	</div>
	
	<div id="copyright">
		&copy;2009 Natural Language Processing Lab, National Tsing Hua University<br>
		Written by <a href="mailto:zi@infor.org">zi</a><br>
	</div>

	<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/yahoo/yahoo-min.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/event/event-min.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/connection/connection-min.js"></script>
	<script type="text/javascript" src="{% static 'js/webtoolkit.url.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/phrase.js' %}"></script>
</body>
</html>
